<section class="section">
  <h2 class="title">Welcome to the Unofficial Interstate Sticker Club web app</h2>

  <% if user_signed_in? %>
    <p>Welcome <%= current_user.name %></p>
    <p>Albums</p>
    <p><%= link_to "Sign out", destroy_user_session_path, method: "DELETE" %></p>
  <% else  %>
    <p>
      <%= link_to "Sign up", new_user_registration_path %> |
      <%= link_to "Sign in", new_user_session_path %>
    </p>
  <% end %>
</section>
