<section class="section">
  <h2 class="title"><%= @album.user.name %>'s Album</h2>
  <% if @album.user == current_user %>
      <%= link_to "Edit Album",
      edit_album_path(id: current_user.album.id),
      class: "button is-large is-primary"
      %>
  <%  end %>
  <section class="section">
  </section>
  <% (0..9).each do |i| %>
    <div class="columns">
      <% (1..10).each do |j| %>
        <div class="column">
          <div class="control">
            <% sticker = j  + (10 * i) %>
            <p class="box has-text-centered has-text-weight-bold is-size-1">
              <%= sticker %>
            </p>
            <% if @album.send("got_it_sticker_#{sticker}?") %>
              <span class="tag is-success">Got it</span>
            <% elsif @album.send("duplicate_sticker_#{sticker}?") %>
              <span class="tag is-info">Duplicated</span>
            <% else %>
              <span class="tag is-danger">Missing</span>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</section>
